{% extends 'template.html' %}
{% load static %}
{% block body %}

<!--=======About section=======-->
    <section class="about section"  id="about">
      <div class="container flex-center">
        <h1 class="section-title-01">About Me</h1>
        <h2 class="section-title-02">About Me</h2>
        <div class="content flex-center">
          <div class="about-img">
            <img src="{% static 'pools/img/about.jpg' %}" alt="">
          </div>
          <div class="about-info">
            <div class="description">
              <h3>Я - основатель команды с большим многолетним опытом</h3>
              <h4>Компания была основана в <span>2003</span>  <span></span></h4>
              <p>Наша система обеспечивает полный аналитический цикл: сбор и загрузка данных, аналитика, автоматическая реакция на отклонения от KPI.</p>
            </div>
            <ul class="professional-list">
              <li class="list-item">
                <h3>5++</h3>
                <span>Years of<br>Experience</span>
              </li>
              <li class="list-item">
                <h3>3K+</h3>
                <span> Happy<br>Custeomers </span>
              </li>
              <li class="list-item">
                <h3>99</h3>
                <span>Success<br>Projects</span>
              </li>
            </ul>
            <a href="{% static 'pools/resume/Ковтунов Сергей Сергеевич.pdf' %}"f" download class="btn">Download CV <i class="fas fa-download"></i></a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}