{% extends 'template.html' %}
{% load static %}


{% block body %}

<section class="contact section " id="contact">
      <div class="container flex-center">
        <h1 class="section-title-01">Contact Me</h1>
        <h2 class="section-title-02">Contact Me</h2>
        <div class="content">
          <div class="contact-left">
            <h2>Давайте обсудим ваш проект</h2>
            <ul class="contact-list">
              <li>
                <h3 class="item-title">
                  <i class="fas fa-phone"></i>Телефон
                </h3>
                <span>8 800 555 35 35</span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-envelope"></i>Email
                </h3>
                <span><a href="mailto:martain@email.co">s.kov@email.co</a></span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-map-marker-alt"></i>Адрес
                </h3>
                <span>Москва, ул. Орджоникидзе 3</span>
              </li>
            </ul>
          </div>
          <div class="contact-rigth">
            <p>Вы также можете отправить ваш вопрос здесь. Мы ответим в течение 24 часов</p>
            <form action="feedback/" method="post" class="contact-form">
              {% csrf_token %}
              <div class="third-row">
                <input name="email" type="email" placeholder="Email">
                <textarea name="message" id="" rows="7" placeholder="Message"></textarea>
              </div>
              <button class="btn" type="submit">Отправить сообщение <i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}