{% extends 'template.html' %}
{% load static %}
{% block body %}

<!--=======Services section=======-->

<section class="services section " id="services">
    <div class="container flex-center">
        <h1 class="section-title-01">Services</h1>
        <h2 class="section-title-02">Services</h2>
        <div class="content">
            <div class="services-description">
                <h3>Мы предлагаем</h3>
            </div>
            <ul class="service-list">
                {% for services in servicesList %}
                <li class="service-container">

                    <div class="service-card">
                        <img src="{{services.icon}}">
                        <h3>{{services.service_name}}</h3>
                        <div class="learn-more-btn">{{services.service_text}}<i
                                class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                    <div class="service-modal flex-center">
                        <div class="service-modal-body">
                            <i class="fas fa-times modal-close-btn"></i>
                            <h3>{{services.more_service_name}}</h3>
                            <h4>{{services.more_service_question}}</h4>
                            <p>{{services.more_service_text}}</p>
                            <h4>Мы предлагаем</h4>
                            <ul>
                                {% for whatprovide in services.provides %}
                                    <li><i class="fas fa-check-circle"></i>{{whatprovide.point}}</li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>

                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}

