{% extends 'template.html' %}
{% load static %}
{% block body %}

<!--=======Skills section=======-->
    <section class="skills section" id="skills">
      <div class="container flex-center">
        <h1 class="section-title-01">Skills</h1>
        <h2 class="section-title-02">Skills</h2>
        <div class="contant">
          <div class="skills-description">
            <h3>Education & Skills</h3>
            <p>For more than 5 years our experts have been accomplishing enough with modern Web Development, new generation web and app programming language.</p>
          </div>
          <div class="skills-info education-all">
            <div class="education">
              <h4><label>Education</label></h4>
              <ul class="edu-list">
                <li class="item">
                  <span class="year">2020-2021</span>
                  <p> <span> in Horriblensess </span> - Harvard University, Cambridge, MA</p>
                </li>
                <li class="item">
                  <span class="year">2018-2019</span>
                  <p> <span>Computer Science </span> - Imperialize Technical Institute</p>
                </li>
                <li class="item">
                  <span class="year">2016-2018</span>
                  <p> <span>Graphic Designer</span>- Web Graphy, Los Angeles, CA</p>
                </li>
              </ul>
            </div>
            <div class="education">
              <h4><label>Skills</label></h4>
              <ul class="bars">
                <li class="bar">
                  <div class="info">
                    <span>HTML</span>
                    <span>95%</span>
                  </div>
                  <div class="line html"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>CSS</span>
                    <span>85%</span>
                  </div>
                  <div class="line css"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>JavaScript</span>
                    <span>80%</span>
                  </div>
                  <div class="line js"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>Jquery</span>
                    <span>80%</span>
                  </div>
                  <div class="line jq"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>PHP</span>
                    <span>75%</span>
                  </div>
                  <div class="line php"></div>
                </li>
              </ul>
            </div>
            <div class="education">
              <h4><label>Awards</label></h4>
              <ul class="edu-list">
                <li class="item">
                  <span class="year">2021</span>
                  <p> <span> Best Developer  </span>- University Of Melbourne, NA</p>
                </li>
                <li class="item">
                  <span class="year">2020</span>
                  <p> <span>  Best Writter </span>- Online Typodev Soluation Ltd.</p>
                </li>
                <li class="item">
                  <span class="year">2019</span>
                  <p> <span>Best Freelancer  </span>- Fiver & Upwork Level 2 & Top Rated </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills-description">
            <h3>Work & Experience</h3>
          </div>
          <div class="skills-info">
            <div class="experience-card">
              <div class="upper">
                <h3>Sr. Graphic Designer</h3>
                <h5>Part Time | Office</h5>
                <span>2020 - 2021</span>
              </div>
              <div class="hr"></div>
              <h4><label>Avada Theme.</label></h4>
              <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
            </div>
            <div class="experience-card">
              <div class="upper">
                <h3>Cr. Web Developer</h3>
                <h5>Full Time | InHouse</h5>
                <span>2019 - 2020</span>
              </div>
              <div class="hr"></div>
              <h4><label>ib-themes ltd.</label></h4>
              <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
            </div>
            <div class="experience-card">
              <div class="upper">
                <h3>Jr. Web Developer</h3>
                <h5>Full Time | Remote</h5>
                <span>2018 - 2019</span>
              </div>
              <div class="hr"></div>
              <h4><label>Creative Gigs.</label></h4>
              <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
