{% load static %}

<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SK</title>
    <link rel="icon" href="{% static 'pools/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'pools/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'pools/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>

<!--=======Scroll to top button=======-->
<div class="scrollToTop-btn flex-center">
    <i class="fas fa-arrow-up"></i>
</div>

<!--=======Light/Dark theme button=======-->
<div class="theme-btn flex-center">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
</div>

<!--=======Header=======-->
<header>
    <div class="nav-bar">
        <a href='../' class="logo">Skovunov</a>
        <div class="navigation">
            <div class="nav-items">
                <div class="nav-close-btn"></div>
                <a href="/about">Обо мне</a>
                <a href="/skills">Скилы</a>
                <a href="/services">Услуги</a>
                <a href="/services/#partfolio">Портфолио</a>
                <a href="/contacts">Контакты</a>
                <a href="/personal_account/">Войти</a>
                <a href="/register/">Зарегистрироваться</a>
            </div>
        </div>
        <div class="nav-menu-btn"></div>
    </div>
</header>

{% block body %}
{% endblock %}

<!--=======Footer=======-->
<footer>
    <div class="footer-container">
        <div class="hr"></div>
        <div class="info group">
            <h3>made by Sergey Kovtunov</h3>
        </div>
<!--        <div class="hr"></div>-->
    </div>
</footer>
<!--=======External scripts=======-->
<script src="{% static 'pools/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'pools/js/main.js' %}"></script>

</body>
</html>


